{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block body %}
<div style="width: 1000px;margin: auto;">
    <h1>AI 语法优化</h1>
    <div>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label }} <br>
            {{ form.name(rows=10, cols=150) }} <br><br>
            {{ form.submit() }}
        </form>
    </div>

    <h3>AI的回答</h3>
    <div>
        <textarea rows="10" cols="150">{{ name }}</textarea>
    </div>
    <div>
        {{ response }}
    </div>
</div>
{% endblock %}