{% extends "base.html" %}

{% block title %}图片生成 - AI 电商效率工具{% endblock %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>图片生成</h1>
</div>

<div>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }} <br>
        {{ form.name(rows=10, cols=150) }} <br><br>
        {{ form.submit() }}
    </form>
</div>

<h3>AI的回答</h3>
<div>
    <img src="{{ image_url}}" width="500"> <br>
    <textarea rows="10" cols="150">{{ image_url }}</textarea>
</div>
<div>
    {{ api_data }}
</div>
{% endblock %}