{% extends "base.html" %}

{% block title %}Index - AI 电商效率工具{% endblock %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>AI 电商效率工具</h1>
</div>
<div>
    <ul>
        <li>
            <a href="/facebook/ads">广告语</a>
        </li>
        <li>
            <a href="/amazon">亚马逊</a>
        </li>
        <li>
            <a href="/correct">语法优化</a>
        </li>
        <li>
            <a href="/mail">邮件回复</a>
        </li>
        <li>
            <a href="/translate">翻译</a>
        </li>
        <li>
            <a href="/chat">Chat</a>
        </li>
        <li><a href="/image">图片生成</a></li>
    </ul>
</div>
{% endblock %}